.form__submit-button {
  padding: 14px 124px 18px;

  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
  background-color: #000;

  border: none;
  border-radius: 2px;
}

.form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 445px) {
  .form__submit-button {
    padding: 14px 82px;
  }
}