.add-button {
  padding: 12px 62px;
  border: 2px solid #fff;
  border-radius: 2px;

  background-color: transparent;

  cursor: pointer;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .add-button {
    padding: 17px 130px;
  }
}